{
  "extends": [
    "schibsted",
    "schibsted/prettier-strict",
    "schibsted-modules",
    "schibsted-react",
    "schibsted-node"
  ],
  "root": true,
  "rules": {
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "unicorn/catch-error-name": [
      "error",
      {
        "name": "err"
      }
    ],
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "replacements": {
          "args": false,
          "err": false,
          "props": false
        }
      }
    ]
  },
  "settings": {
    "react": { "pragma": "JsxPdf" }
  },
  "overrides": [
    {
      "files": "**/*.test.js",
      "plugins": ["jest"],
      "env": {
        "jest/globals": true
      }
    }
  ]
}
